@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --white: #ffffff;
  --bg: #EDF6F9;
  --bg-dim: #ffffff77;
  --purple: #99A9F4;
  --purple-dim: #99A9F444;
  --pink: #EA9AB2;
  --pink-darker: #E17092;
  --pink-dim: #E1709255;
  --yellow: #F5D491;
  --yellow-darker: #F1C262;
  --yellow-dim: #F5D49144;
  --blue: #c1d3fe;
  --blue-dim: #c1d3fe77;
  --black: #292A2B;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: var(--black);
  background-color: var(--bg);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1,
h2 {
  margin-bottom: 40px;
}

h1 {
  font-size: 80px;
  line-height: 60px;
}

h2 {
  font-size: 54px;
  line-height: 34px;
}

h3 {
  font-size: 38px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 12px;
}


/* utility */

.container {
  width: 100%;
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}

.f-jsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.border {
  border: solid 2px var(--black);
}

.underline {
  text-decoration: underline;
}

.btn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  padding: 5px 14px;
  border: solid 2px var(--black);
  transition: all ease-out .15s;
}

.btn::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  height: 100%;
  width: 100%;
  border: solid 2px var(--black);
  background-color: var(--black);
  transition: all ease-out .15s;
  z-index: -1;
}

.btn:hover {
  top: 2px;
  left: 2px;
}

.btn:hover::before {
  top: 4px;
  left: 4px;
}

.bg-white {
  background-color: var(--white);
}

.bg-pink {
  background-color: var(--pink);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-pink-darker {
  background-color: var(--pink-darker);
}


/* shutters */

.col {
  height: 100vh;
  width: calc(100%/12);
  transition: all ease-out .35s;
}

.col1 {
  transition-delay: .05s;
}

.col2 {
  transition-delay: .1s;
}

.col3 {
  transition-delay: .15s;
}

.col4 {
  transition-delay: .2s;
}

.col5 {
  transition-delay: .25s;
}

.col6 {
  transition-delay: .3s;
}

.col7 {
  transition-delay: .35s;
}

.col8 {
  transition-delay: .4s;
}

.col9 {
  transition-delay: .45s;
}

.col10 {
  transition-delay: .5s;
}

.col11 {
  transition-delay: .55s;
}

.col12 {
  transition-delay: .6s;
}


/* scroll animation */

.hide {
  opacity: 0;
  filter: blur(2px);
  transform: translateY(60px);
  transition: all ease-out .4s;
}

.reveal {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all ease-out .4s;
}

.delay-200 {
  transition-delay: .2s;
}

.delay-400 {
  transition-delay: .4s;
}

.delay-600 {
  transition-delay: .6s;
}

.delay-800 {
  transition-delay: .8s;
}

.delay-1200 {
  transition-delay: 1.2s;
}

.delay-1400 {
  transition-delay: 1.4s;
}

.delay-1600 {
  transition-delay: 1.6s;
}


/* project stack */

.proj-stack {
  max-width: 480px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.proj-stack-btn {
  font-size: 16px;
  line-height: 16px;
  padding: 2px 4px;
  border: 1px solid var(--black);
  border-radius: 4px;
  background-color: var(--bg-dim);
}

.proj-stack-btn:not(last-child) {
  margin-right: 10px;
}


/* project links */

.proj-links {
  position: relative;
  margin-top: 20px;
}

.proj-links > .bg-yellow {
  left: 100px;
}

.proj-links > .bg-yellow:hover {
  left: 102px;
}

.proj-links > .bg-purple {
  left: 228px;
}

.proj-links > .bg-purple:hover {
  left: 230px;
}


/* case */

.case-hero {
  height: 90vh;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--black);
  background-color: var(--purple);
}

.case-hero-left {
  width: 50%;
}

.case-demo {
  display: flex;
  height: 80vh;
  padding: 120px 0;
}

.case-demo-left {
  min-height: 80%;
}

.case-demo-left > ul {
  margin-left: 20px;
}

.case-demo-left > ul > ul {
  font-size: 16px;
  margin-left: 25px;
}

.case-demo-left li {
  cursor: pointer;
  margin-bottom: 4px;
}

.case-demo-left li:hover {
  text-decoration: underline;
}

.case-demo-right {
  width: 70%;
}

.case-demo-right > img {
  width: 100%;
}

.case-design {
  margin: 120px 0;
}

.case-text {
  max-width: 740px;
  margin: 120px auto;
}

.case-text > p {
  margin-bottom: 60px;
}

@media screen and (max-width: 991px) {

  body {
    font-size: 16px;
    line-height: 22px;
  }

  h1,
  h2 {
    margin-bottom: 16px;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 28px;
  }

  .proj-links {
    margin-top: 20px;
  }

  .proj-links > .bg-yellow {
    left: 88px;
  }
  
  .proj-links > .bg-yellow:hover {
    left: 90px;
  }
  
  .proj-links > .bg-purple {
    left: 200px;
  }
  
  .proj-links > .bg-purple:hover {
    left: 202px;
  }
}

@media screen and (max-width: 500px) {

  body {
    font-size: 14px;
    line-height: 18px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }
}