/* project stack */

.proj-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 20px 0;
}

.stack-btn {
  font-size: 14px;
  line-height: 14px;
  padding: 6px;
  border: 1px solid var(--black);
  border-radius: 4px;
  background-color: var(--white-dim);
}

.stack-btn:hover {
  background-color: var(--white);
}


/* project links */

.proj-links {
  position: relative;
  height: 42px;
  margin-top: 30px;
}

.proj-links > .bg-yellow {
  left: 100px;
}

.proj-links > .bg-yellow:hover {
  left: 102px;
}

.proj-links > .bg-purple {
  left: 228px;
}

.proj-links > .bg-purple:hover {
  left: 230px;
}

@media screen and (max-width: 991px) {

  .proj-links {
    margin-top: 20px;
  }

  .proj-links > .bg-yellow {
    left: 88px;
  }
  
  .proj-links > .bg-yellow:hover {
    left: 90px;
  }
  
  .proj-links > .bg-purple {
    left: 200px;
  }
  
  .proj-links > .bg-purple:hover {
    left: 202px;
  }
}